{% extends "main.html" %}
{% block content %}
{% include "header.html" %}
<div class = "title_block">
	<h1 class = "page_title"><span>&#9733 {{ genre.name }} &#9733</span></h1>
</div>

<div class = 'flash'>
	{% with messages = get_flashed_messages() %}
    	{% if messages %}
          
    		<ul>
    		{% for message in messages %}
    			<li> <strong> {{ message }} </strong> </li>
    		{% endfor %}
        	</ul>
        {% endif %}
    {% endwith %}
</div>
	<a class = "genres" href="{{url_for('editGenre', genre_id = genre.id )}}">
		Edit Genre
	</a>
	<a class="genres" href="{{url_for('newAlbum', genre_id = genre.id )}}">
		Add a New {{genre.name}} Album
	</a>
	
	{% if albums !=[] %}	
		{% for i in albums %}
			<div class="albums">
				<div class="edit_delete_albums">
					<a class ="edit" href="{{url_for('editalbum', genre_id = genre.id, album_id = i.id)}}">edit</a>
					<a class ="delete" href="{{url_for('deletealbum', genre_id = genre.id, album_id = i.id)}}">delete</a>
				</div>
				<h2>{{i.name}}</h2>
				<p>Added by: {{i.user.name}}</p>
				<p>{{i.artist}}</p>
				<p>{{i.year}}</p>
				<img class = "album_cover" src='{{i.image_address}}'>
				<p class="Description">Description: {{i.description}}</p>
			</div>
		{% endfor %}
	{% endif %}
{% include "footer.html" %}
{% endblock %}
