{% extends "main.html" %}
{% block content %}
{% include "header.html" %}

<h1>New Album</h1>

<div class="edit_area">
	<form action="#" method = "post">
		<label for="name">Name:</label>
		<input type ="text" maxlength="50" class="form-control" name="name" placeholder="Name of the Album">
		<br/>

		<label for="artist">Artist:</label>
		<input type ="text" maxlength="50" class="form-control" name="artist" placeholder="Artist name">
		<br/>

		<label for="year">Year:</label>
		<input type ="text" maxlength="50" class="form-control" name="year" placeholder="The year it was released">
		<br/>

		<label for="description">Description:</label>
		<input type ="text" maxlength="400" class="form-control" name="description" placeholder="description of the album">
		<br/>

		<label for="image_address">image address:</label>
		<input type ="text" maxlength="120" class="form-control" name="image_address" placeholder="enter address of the image">
		<br/>

		<button type="submit" class="button" id="submit" type="submit">
			Create
		</button>
	</form>
</div>
{% include "footer.html" %}
{% endblock %}

